<html lang="en">
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <form action="/user/<%= publicKey %>/callend" method="GET">
        <input type="submit" value="Call End">
    </form>
    
</body>
</html>