<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %> 

<body>
  <ul>
    <li><a href="/CSPAdmin/<%= username%>/info">CSP Info</a></li>
    <li><a href="/CSPAdmin/<%= username%>/GetAllSubscriberSims">Get All subscriber Sims</a></li>
  </ul>
</body>
</html>
