<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <a href="/CreateCSP"> Create CSP</a> <br>
    <a href="/CSPlogin"> CSP Login</a> <br>
    <a href="/createSubscriberSim"> Creating Subscriber Sim</a> <br>
    <a href="/Userlogin"> User Login</a>
</body>
</html>