<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <form method="POST">
        <input type="text" name="location" placeholder="Enter New Location">
        <input type="submit" value="Move">
    </form>
</body>
</html>