<!DOCTYPE html>
<html>
<head>
<title>BlockChain | CSP page</title>
</head>
<body>
  <h2>CSP Details</h2>
  <form method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <br>
    <label for="anumber">Region:</label><br>
      <input type="text" id="anumber" name="region"><br>
    <br>
    
    <label for="dob">latitude:</label><br>
      <input type="text" id="dob" name="latitude"><br>
    <br>

    <label for="long">longitude:</label><br>
      <input type="text" id="long" name="longitude"><br>
    <br>

    <label for="overage">latitude:</label><br>
      <input type="text" id="overage" name="overageRate"><br>
    <br>

    <label for="roaming">latitude:</label><br>
      <input type="text" id="roaming" name="roamingRate"><br>
    <br>

    <input type="submit" value="Submit">
  </form> 
</body>
</html>