<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <a href="/"><input type="button" value="Home" class="home-btn"></a>
    <h3> Hi <%= username %>, you are registerd successfully..</h3> <br>
    <a href="/CSPlogin">Login</a>
    <%- include('./partials/footer.ejs')%>
</body>
</html>