body{
    background-image: url('../img/login_bg.jpg');
}
#main-header {
    padding-top: 0%;
    margin-top: 0%;
    background-color: rgb(230, 214, 208);
    color: rgb(167, 33, 67);
    text-align: center;
}

.center {
    margin: auto;
    padding: auto;
    text-align: center;
}

h2{
    color:rgb(167, 33, 67);
    font: normal 2em Arial,Helvetica,sans-serif;
}

a{
    font-size: 1.4em;
    color: rgb(241, 216, 209);
    font: normal 16px Arial,Helvetica,sans-serif;
    text-decoration: none;
}

div > a:hover {
    color: rgb(209, 28, 83);
    font-size: 1.6em;
}

form input[type="text"],form input[type="password"],form input[type="number"]{
    padding:auto;
    margin-top: 5px;
    background-color: rgb(206, 253, 253);
    width: 13%;
    font: normal 1.2em Arial,Helvetica,sans-serif;
}

form input[type="submit"]{
    color: rgb(126, 63, 46);
    background-color: rgb(250, 250, 250);
    padding: auto;
    border: none;
    font: normal 1.1em Arial,Helvetica,sans-serif;
}

label{
    color: rgb(241, 216, 209);
    font: normal 16px Arial,Helvetica,sans-serif;
}

li {
    color: rgb(241, 216, 209);
    font: normal 16px Arial,Helvetica,sans-serif;
    padding-bottom: 4px;
}

.home-btn{
    position: absolute;
    top: 4.5%;
    right:3%;
}